#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean

override_dh_installdocs:
	dh_installdocs NEWS

override_dh_auto_install:
	dh_auto_install
	/usr/bin/install -c testing.sh '$(PWD)/debian/hello/usr/bin'
